<%= turbo_frame_tag event do %>						<!-- turbo_frame for destroy and edit -->
  <div class="event-compact">
    <a href="<%= event_path(event.id)%>" data-turbo-frame="_top">
      <span class="event-compact__date">
        <%= event.event_date.strftime('%B') %>
        <%= event.event_date.strftime('%-e').to_i.ordinalize %>,
        <%= event.event_date.strftime('%A') %>
      </span>
    </a>
    <div class="event-compact__info-container">
      <div class="event-compact__info-row-one">
        <span class="event-compact__label">event:</span>
        <%= link_to "\"#{event.title}\"", 
              event_path(event.id), 
              data: { turbo_frame: "_top" },
              class: "event-compact__title" %>
      </div>
      <div class="event-compact__info-row-two">
        <span class="event-compact__label">description:</span>
        <span class="event-compact__description"><%= event.description %></span>
      </div>
      <div class="event-compact__info-row-three">
        <span class="event-compact__label">location:</span>
        <span class="event-compact__location"><%= event.location %></span>
      </div>
    </div>
    <% if current_user&.id == event.creator_id %>
      <div class="event-compact__actions">
        <%= link_to image_tag("edit.svg", height: '22', alt: 'An image of a plus sign.'),
                    edit_event_path(event),
                    class: "btn btn--secondary btn--crud" %>
        <%= link_to image_tag("delete.svg", height: '20', alt: 'An image of a plus sign.'),
                    event_path(event),
                    data: { "turbo-method": :delete },
                    class: "btn btn--secondary btn--crud" %>
      </div>
    <% elsif current_user && current_user&.id != event.creator_id %>
      <div class="event-compact__actions">
        <% if event.attendees.include?(current_user) %>
          <%= button_to "unjoin event", event_attendance_path(event, current_user.id),
                                          method: :delete,
                                          data: { 
                                            turbo_frame: "_top",
                                            turbo_confirm: "Unjoin \"#{event.title}?\""
                                           },
                                          class: "btn btn--tertiary btn--med" %>
        <% else  %>
          <%= button_to "join event", event_attendances_path(event, current_user.id),
                            data: { turbo_frame: "_top" },
                            class: "btn btn--primary btn--med" %>
        <% end %>
      </div>
    <% else %>
      <span class="event-compact__creator"><%= event.creator.email %></span>
    <% end %>
  </div>
<% end %>
