<%= turbo_frame_tag event do %>						<!-- turbo_frame for destroy and edit -->
  <div class="event-compact">
    <!--a href="<%= event_path(event.id) %>"-->
    <a href="<%= event_path(event.id)%>" data-turbo-frame="_top">
      <span class="event-compact__date">
        <%= event.event_date.strftime('%B') %>
        <%= event.event_date.strftime('%-e').to_i.ordinalize %>,
        <%= event.event_date.strftime('%A') %>
      </span>
    </a>
    <div><%= event.id %></div>
    <%= link_to event.description, 
              event_path(event.id), 
              data: { turbo_frame: "_top" },
              class: "event-compact__description" %>
    <% if current_user&.id == event.creator_id %>
      <div class="event-compact__actions">
        <%= link_to "edit", edit_event_path(event), class: "btn btn--secondary btn--short" %>
        <%= button_to "delete", event_path(event), 
                                method: :delete, 
                                class: "btn btn--secondary btn--short" %>
      </div>
    <% elsif current_user && current_user&.id != event.user_id %>
      <div class="event-compact__actions">
        <%# This is a button which sends POST to attendance#create. %>
        <%= button_to "test", event_attendances_path(event) %>
      </div>
    <% else %>
      <span class="event-compact__creator"><%= event.creator.email %></span>
    <% end %>
  </div>
<% end %>
