<%= form_with model: event do |form| %>
	<div>
		<%= form.label :event_date %>
		<%= form.text_field :event_date %>
		<% event.errors.full_messages_for(:event_date).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
		<%= form.label :description %><br>
		<%= form.text_field :description %><br>
		<% event.errors.full_messages_for(:description).each do |message| %>
			<div><%= message %></div>
		<% end %>
	</div>

	<div>
		<%= form.submit %>
	</div>
<% end %>