<%= form_with model: @event, class: "event form", url: events_path, method: :post do |form| %>
	<%= render partial: "errors", locals: { activerecord_object: @event } %>

	<div class="form__field">
		<%= form.label :date, "Date:" %>
		<%= form.date_field :date %>
	</div>
	
	<div class="form__field form__field--split form__field--grow">
		<%= form.label :description, "Description:" %>
		<%= form.text_field :description,
												class: "form__text-field form__text-field--grow",
												placeholder: 'The coolest event ever.',
												input_html: { autofocus: true } %>
	</div>


	<div class="event__actions">
		<%= link_to "Cancel", "", class: "btn btn--primary" %>
		<%= form.submit class: "btn btn--primary" %>
	</div>
<% end %>