<div class="events">
	<div class="announcement">
		<span class="announcement__body">"New features added this week!"</span>
	</div>

	<header class="navbar">
		<div class="brand">
			<div class="brand__logo">
				<%= image_tag "spy.svg",  { class: 'navbar__logo', alt: 'A logo of a spy.', size: "50" }%>
			</div>
			<div class="brand__text">
				<h1>private events</h1>
			</div>
		</div>
		<div class="links">
			<div class="link link--active">
				<%= link_to "all events", '' %>
			</div>
			<div class="link links--split">
				<%= link_to "my events", user_path(current_user.id) %>
			</div>

			<div class="link">
				<%= link_to  "Sign up", new_user_registration_path %>
			</div>

			<div class="link">
				<%= link_to  "Log in", new_user_session_path %>
			</div>

		</div>
		<!--			
		<%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
		-->
	</header>
	
	<main class="content container">
		<%= current_uri = request.env['PATH_INFO'] %><br>
		<%= current_user.id %><br>
		announcement<br>
		navbar<br>
		main container<br>
		footer<br>
	</main>
	
	<footer class="footer">
		kslau07@github.com
	</footer>
</div>