<%= render "back" %>
<main class="container">
  <div class="event-full">
    <%= image_tag "event.svg", { class: 'class_name', size: "250", alt: 'A picture of a calendar with a checkmark.' }%>
    <div class="event-full__info">
      <span>
        <%= @event.event_date.strftime('%B') %>
        <%= @event.event_date.strftime('%-e').to_i.ordinalize %>,
        <%= @event.event_date.strftime('%A') %>
      </span>
      <h1><%= @event.description %></h1>
      <span>created by <%= @event.creator.email %></span>
    </div>
  </div>
</main>
